# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
store
eclipse
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
dump
server.pid
*.iml
*.eml
/bin
