@(configForm: Form[Config],message: String)

@main("Config") { 
} {

	<div class="fieldset" id="config">
		<div class="legend">Konfiguration</div>
  		@helper.form(action = routes.Application.setConfig()) {
		  @helper.textarea(configForm("json"))
		  @if(message!=null && message!="") {
  	        <div class="message">@message</div>
		  }
  		  <button type="submit">Speichern</button>
		}
	</div>

	<script>
	$(function(){
		function setNewSize() {			
		  var configHeight = $('#config').outerHeight();
		  var jsonHeight = $('#json').height();
		  var windowHeight = $(window).height();
		  var jsonHeightNew = windowHeight-(configHeight-jsonHeight)-80;
		  $('#json').height(jsonHeightNew);
		}
		var resizeTimer;
		$(window).bind('resize',function() {
			clearTimeout(resizeTimer);
			setTimeout(setNewSize,200);
		});
		setNewSize();
	});
	</script>
}
