@(user: String, configJson: String)

@main(user+"'s Startpage") {

	<div id="head-map">
    </div>
	<div id="head-map-shadow">
    </div>
    <div id="head-line">
	    <div id="time">Stand @{new java.text.SimpleDateFormat("dd.MM.yyyy HH:mm").format(new java.util.Date())}</div>
	    <div id="user" style="position: absolute; left: 50%;">
	        <div style="position: relative; left: -50%">
	            Hallo @user
	        </div>
	    </div>
	    <div id="options"><a href="/config">Einstellungen</a> <a href="/logout">Abmelden</a></div>
    </div>
	<div id="links">	
	</div>
	<div id="gadget-container">	
	</div>

	<script src="assets/javascripts/lang/Module.js"></script>
	<script src="assets/javascripts/gadgetTypeRegistry.js"></script>
	<script src="assets/javascripts/showGadgets.js"></script>
	<script src="assets/javascripts/init.js"></script>
	<script>
	$(function(){
		mystartpage.init(@Html(configJson));	
	});
	</script>

}
