@(userForm: Form[UserPassword], message: String)

@main("Login") {
} {

	<div id="login">
	
		<h1>Leo's Startseite</h1>
		<div class="small">iGoogle war gestern...</div>
		<div class="fieldset">
			<div class="legend">Anmelden / Registrieren</div>
			@helper.form(action = routes.Application.login()) {
			  @helper.inputText(userForm("name"), '_label -> "Name")
			  @helper.inputPassword(userForm("password"), '_label -> "Passwort")
			  @if(message!=null && message!="") {
	  	        <div class="message">@message</div>
			  }
			  <button type="submit">Login</button>
			}
		</div>
	</div>


}
